
# KolayTR signing secrets
kolaytr-upload-key.jks
kolaytr-upload-key.base64
kolaytr-signing-secrets.txt
key.properties
*.jks
*.keystore
*.zip
build_log.txt
*.backup.yaml
*.bak
*backup*
.dart_tool/
build/
.flutter-plugins-dependencies
.idea/
android/key.properties
release_build_log.txt
